name: "Fivemanage Lite"

services:
  database:
    image: mysql:8
    container_name: lite_database
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fivemanage-lite-dev
    ports:
      - "3306:3306"
    volumes:
      - ./.docker/mysql_data:/var/lib/mysql
    networks:
      - fivemanage
  jaeger:
    image: jaegertracing/jaeger:2.4.0 
    container_name: jaeger
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
      - "5778:5778"
      - "9411:9411"

networks:
  fivemanage:
    driver: bridge
