name: Pre Release

on:
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - develop

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        id: bump_version
        uses: hennejg/github-tag-action@v4.3.1
        with:
          dry_run: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: release-drafter/release-drafter@v6.0.0
        with:
          config-name: release-drafter.yml
          prerelease: true
          publish: true
          prerelease-identifier: 'beta'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
