name: Pre Release

on:
  push:
    branches:
      - develop

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: Bump version and push tag
        uses: Magikon/github-tag-action@5.0.0
        id: tag
        env:
          RELEASE_BRANCHES: master
          PREFIX: dev
          PRERELEASE_SUFFIX: beta
          MAJOR: "BREAKING*CHANGE|*#major*"
          MINOR: "*feat*|*#minor*"
          PATCH: "*fix*|*chore*|*docs*|*update*|#patch"

      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
          tag: ${{ steps.tag.outputs.new_tag }}
          version: ${{ steps.tag.outputs.new_tag }}
          prerelease: true
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
